<% var profile = theme.customize.profile; %>
<% var tagCount = site.tags.filter(function(tag) { return tag.length; }).length; %>
<aside id="create">
    <div class="inner signup" ng-if="!session.isLoggedIn">
        <form method="GET" action="<%= url_for_lang('signup') %>">

            <%- partial('common/dbname', attributes='required="required"') %>
            <button type="submit"><i class="fa fa-magic"></i> <%= __('home.registerbutton') %></button>
        </form>
    </div>

    <div class="inner follow">

        <div class="health">
            <a class="btn" href="/categories/Health"><i class="fa fa-heartbeat"></i> Server health</a>
        </div>

        <% if(theme.customize.social_links) { %>
        <div class="profile-block social-links">
            <table>
                <tr>
                    <% var tooltipClass = theme.customize.social_link_tooltip === false ? '' : 'class=tooltip'; %>
                    <% for(var i in theme.customize.social_links) { %>
                    <td>
                        <a href="<%- url_for(theme.customize.social_links[i]) %>" target="_blank" title="<%= i %>" <%= tooltipClass %>>
                            <i class="fa fa-<%= i %>"></i>
                        </a>
                    </td>
                    <% } %>
                </tr>
            </table>
        </div>
        <% } %>
    </div>
</aside>
