<aside id="create">

    <div class="inner">

        <div class="context" ng-if="!session.isLoggedIn">
            <form method="GET" action="<%= url_for_lang('signup') %>">

                <%- partial('common/dbname', attributes='required="required"') %>
                <button type="submit"><i class="fa fa-magic"></i> <%= __('account.registerbutton') %></button>
            </form>

            <p class="login"><a href="<%= url_for_lang('private') %>">Or login into your account</a></p>
        </div>

        <div class="context" ng-if="session.isLoggedIn">
            <a class="btn" href="<%= url_for_lang('private') %>">
                <i class="fa fa-gear"></i> <%= __('account.privatespace') %>
            </a>
        </div>

        <%- partial('common/social') %>

    </div>
</aside>
