<footer id="footer">
    <div class="outer">

        <dl>
            <dt><%= __('footer.otherlang') %></dt>
            <% var versions = getPageLanguages(site);
            for (var i=0; i<versions.length; i++) { %>
            <dd><a href="<%= versions[i].url %>"><%= versions[i].label %></a></dd>
            <% } %>
        </dl>

        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
        </div>
    </div>
</footer>
