
<aside id="private">
    <div id="account" ng-init="isPrivate=true">
        <% if (page.path !== page.lang+'/account/index.html') { %>
        <div class="back">
            <a href="<%= url_for_lang('private') %>"><i class="fa fa-chevron-circle-left"></i> <%= __('account.privatespace') %></a>
        </div>
        <% } %>

        <br />

        <ul>
            <li>
                <a href="<%= url_for_lang('account/settings') %>">
                    <i class="fa fa-user"></i> <%= __('account.settings') %>
                </a>
            </li>
            <li>
                <a href="<%= url_for_lang('account/changepassword') %>">
                    <i class="fa fa-key"></i> <%= __('account.changepassword') %>
                </a>
            </li>
            <li>
                <a href="<%= url_for_lang('account/delete') %>">
                    <i class="fa fa-trash"></i> <%= __('account.delete') %>
                </a>
            </li>
        </ul>

        <%- partial('common/social') %>
    </div>
</aside>
