<div class="usersession">
    <a class="display-name" href="<%= url_for_lang('account') %>">
        {{session.user.firstname}} {{session.user.lastname}}
    </a>

    <ul>
        <li>
            <a href="<%= url_for_lang('private') %>">
                <i class="fa fa-gear"></i> <%= __('account.privatespace') %>
            </a>
        </li>
        <li>
            <a href="<%= url_for_lang('account/settings') %>">
                <i class="fa fa-user"></i> <%= __('account.settings') %>
            </a>
        </li>
    </ul>

    <p class="loginid"><%= __('account.loginid') %><br />
        <span class="email">{{session.user.email}}</span>
    </p>

    <div class="logout"><a href="<%= url_for_lang('logout') %>"><i class="fa fa-times-circle"></i> <%= __('account.logout') %></a></div>
</div>
