<section id="main">

    <div id="account_companysettings" class="accountform" ng-controller="CompaniesController">

        <h3><%= __('company.authenticationsettingstitle') %></h3>

        <form>

            <p>
                <label>
                    <input type="checkbox" value="1" ng-model="company.loginservices.form.enable" />
                    <%= __('company.login_form') %></label>
            </p>



            <p>
                <label>
                    <input type="checkbox" value="1" ng-model="company.loginservices.google.enable" />
                    <%= __('company.login_google') %></label>
            </p>

            <div ng-if="company.loginservices.google.enable">
                <em><%= __('company.login_google_help') %>
                    <a href="https://developers.google.com/identity/sign-in/web/devconsole-project" target="_blank">Google Sign-In</a>
                </em>

                <p>
                    <label for="login_google_clientID"><%= __('company.login_google_clientID') %></label>
                    <input type="text" id="login_google_clientID" ng-model="company.loginservices.google.clientID" />
                </p>

                <p>
                    <label for="login_google_clientSecret"><%= __('company.login_google_clientSecret') %></label>
                    <input type="text" id="login_google_clientSecret" ng-model="company.loginservices.google.clientSecret" />
                </p>

                <p>
                    <label for="login_google_domain"><%= __('company.login_google_domain') %></label>
                    <input type="text" id="login_google_domain" ng-model="company.loginservices.google.domain" />
                </p>
            </div>



            <p>
                <label>
                    <input type="checkbox" value="1" ng-model="company.calendar.google.enable" />
                    <%= __('company.calendar_google') %></label>
            </p>

            <div ng-if="company.calendar.google.enable">
                <em><%= __('company.calendar_google_help') %>
                    <a href="https://developers.google.com/identity/sign-in/web/devconsole-project" target="_blank">Google API usage</a>
                </em>

                <p>
                    <label for="calendar_google_clientID"><%= __('company.calendar_google_clientID') %></label>
                    <input type="text" id="calendar_google_clientID" ng-model="company.calendar.google.clientID" />
                </p>

                <p>
                    <label for="calendar_google_clientSecret"><%= __('company.calendar_google_clientSecret') %></label>
                    <input type="text" id="calendar_google_clientSecret" ng-model="company.calendar.google.clientSecret" />
                </p>
            </div>

            <p class="button">
                <button type="submit" ng-click="updateCompany()"><i class="fa fa-save"></i> <%= __('company.editbutton') %></button>
            </p>
        </form>

    </div>
</section>

<%- partial('common/private') %>
