<section id="main">

    <div id="account_settings" class="accountform">
        <h2><%= __('settings.title') %></h2>

        <form method="POST" action="<%= langurl('save-account-settings') %>">

            <p>
                <label for="lastname"><%= __('signup.lastname') %></label>
                <input type="text" id="lastname" name="lastname" required="required" ng-value="session.user.lastname" />
            </p>

            <p>
                <label for="firstname"><%= __('signup.firstname') %></label>
                <input type="text" id="firstname" name="firstname" ng-value="session.user.firstname" />
            </p>

            <p>
                <label for="email"><%= __('signup.email') %></label>
                <input type="text" id="email" name="email" required="required" ng-value="session.user.email" />
            </p>

            <p class="button">
                <button type="submit"><i class="fa fa-save"></i> Save</button>
            </p>
        </form>
    </div>
</section>

<%- partial('common/private') %>
