<section id="main">

    <div id="account_delete" class="accountform">
        <h2><%= __('account.delete_title') %></h2>

        <form method="POST" action="<%= url_for_lang('deleteaccount') %>">

            <p class="danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>

            <p>
                <%= __('account.delete_intro') %>
            </p>

            <p>
                <%= __('account.delete_help') %>
            </p>

            <p class="button">
                <button type="submit" onclick="return confirm(this.title);" title="Are you really sure?"><i class="fa fa-times"></i> <%= __('account.delete_button') %></button>
            </p>
        </form>
    </div>
</section>

<%- partial('common/private') %>
