<section id="main">

    <div id="account_plan" class="accountform">
        <h2><%= __('plan.title') %></h2>

        <form action="<%= url_for_lang('setplan') %>">

            <div>
                <label class="main"><input type="radio" name="plan" ng-selected="session.user.plan=='free'" /> <%= __('plan.freeradio') %></label>
                <div class="plan-description">0 &euro;, <%= __('plan.freedesc') %></div>
            </div>

            <div>
                <label class="main"><input type="radio" name="plan" ng-selected="session.user.plan=='paid'" /> <%= __('plan.paidradio') %></label>
                <div class="plan-description">
                    <label for="userLimit"><%= __('plan.paiduserlimitlabel') %></label>
                    <%= __('plan.limitedto') %>
                    <input id="userLimit" type="number" name="userlimit" ng-model="session.user.userlimit" min="10" max="1000" step="5" />
                    <%= __('plan.activeusers') %>, {{session.user.userlimit-5}} &euro; / <%= __('plan.month') %>
                </div>
            </div>

            <p>
                <%= __('plan.bottom') %>
                
            </p>

            <p class="button">
                <button type="submit"><i class="fa fa-save"></i> Save</button>
            </p>
        </form>
    </div>
</section>

<%- partial('common/private') %>
