<section id="main">

    <div id="account_creditcard" class="accountform" ng-controller="CompaniesController">
        <h2><%= __('creditcard.title') %></h2>

        <div ng-if="session.paymentDay && session.plan=='paid'">
            <p>
                <%= __('creditcard.paymentday') %>
            </p>
        </div>

        <div ng-if="session.plan!='paid'">
            <p>
                <%= __('creditcard.freeplan') %>
            </p>
        </div>

        <form>

            <p class="text-center">
                <img src="/css/images/powered_by_stripe.png" />
            </p>


            <p>
                <label for="creditcard_number"><%= __('creditcard.number') %></label>
                <input type="text" id="creditcard_number" ng-model="creditcard.number" />
            </p>

            <table>
                <tr>
                    <td class="col1">
                        <label for="creditcard_cvc"><%= __('creditcard.cvc') %></label>
                        <input type="text" id="creditcard_cvc" ng-model="creditcard.cvc" />
                    </td>



                    <td class="col2">
                        <label for="creditcard_exp_month"><%= __('creditcard.exp_month_year') %></label>
                        <select id="creditcard_exp_month" ng-model="creditcard.exp_month" ng-options="month as month for month in months" placeholder="<%= __('creditcard.month') %>">
                        </select>
                        <select id="creditcard_exp_year" ng-model="creditcard.exp_year"  ng-options="year as year for year in years" placeholder="<%= __('creditcard.year') %>">
                        </select>
                    </td>
                </tr>
            </table>



            <p class="button">
                <button type="submit" ng-click="saveCard()"><i class="fa fa-save"></i> <%= __('creditcard.savebutton') %></button>
            </p>
        </form>
    </div>
</section>

<%- partial('common/private') %>
