<section id="main">

    <div id="account_exportcompany" class="accountform">
        <h2><%= __('export.title') %></h2>

        <p><%= __('export.format') %></p>

        <form method="GET" action="<%= url_for_lang('download-database') %>">

            <p class="button">
                <button type="submit">
                    <i class="fa fa-cloud-download"></i> <%= __('export.downloadbutton') %>
                </button>
            </p>
        </form>
    </div>
</section>

<%- partial('common/private') %>
