<section id="main">

    <div id="account_home" class="accountform" ng-controller="CompaniesController">
        <h2><%= __('account.title') %></h2>

        <div class="create-company" ng-if="!company">

            <p>You are connected to gadael.com but your application is not started yet,
                please use the link below to chose a name for your company application URL.</p>

            <a href="./create-company">
                <i class="fa fa-bolt"></i><br />
                <%= __('account.createcompany') %>
            </a>
        </div>


        <div class="view-company" ng-if="company">
            <div class="header">
                <a ng-href="https://{{company.name}}.gadael.com/" target="_blank">
                    <i class="fa fa-external-link-square" aria-hidden="true"></i> <%= __('company.open') %>
                </a>
            </div>

            <a href="./company-settings">
                <i class="fa fa-gears"></i><br />
                <%= __('account.companysettings') %>
            </a>

            <a href="./export-company">
                <i class="fa fa-cloud-download"></i><br />
                <%= __('account.exportcompany') %>
            </a>


            <a href="./plan">
                <i class="fa fa-shopping-cart"></i><br />
                <%= __('account.plan') %>
            </a>

            <a href="./creditcard">
                <i class="fa fa-credit-card"></i><br />
                <%= __('account.creditcard') %>
            </a>
        </div>




        <div class="account">
            <a href="./settings">
                <i class="fa fa-user"></i><br />
                <%= __('account.settings') %>
            </a>

            <a href="./delete">
                <i class="fa fa-trash"></i><br />
                <%= __('account.delete') %>
            </a>
        </div>
    </div>
</section>

<%- partial('common/private') %>
