<section id="main">

    <div id="account_creditcard" class="accountform" ng-controller="CreditcardController">
        <h2><%= __('creditcard.title') %></h2>

        <div ng-if="session.paymentDay && session.plan=='paid'">
            <p>
                <%= __('creditcard.paymentday') %>
            </p>
        </div>

        <%- partial('common/stripe') %>

        <p ng-if="currentExpiry" class="info-bloc">
            <i class="fa fa-info-circle"></i>
            <%= __('stripe.expirytext') %> {{currentExpiry}}
        </p>


        <form>
            <p class="card-wrapper"></p>

            <p class="half">
                <input type="text" id="creditcard_number" placeholder="<%= __('creditcard.number') %>" ng-model="creditcard.number" />
            </p>

            <p class="half">
                <input type="text" id="creditcard_fullname" placeholder="<%= __('creditcard.fullname') %>" ng-model="creditcard.name" />
            </p>

            <p class="half">
                <input type="text" id="creditcard_expiry" ng-model="expiry" placeholder="<%= __('creditcard.exp_month_year') %>" />
            </p>

            <p class="half">
                <input type="text" id="creditcard_cvc" placeholder="<%= __('creditcard.cvc') %>" ng-model="creditcard.cvc" />
            </p>

            <p class="button">
                <button type="submit" ng-click="saveCard()"><i class="fa fa-save"></i> <%= __('creditcard.savebutton') %></button>
            </p>
        </form>

        <footer>
            <img class="cardtype" src="/css/images/visa.png" />
            <img class="cardtype" src="/css/images/mastercard.png" />
            <img class="cardtype" src="/css/images/american-express.png" />
            <img class="stripe" src="/css/images/powered_by_stripe.png" />
        </footer>
    </div>
</section>

<%- partial('common/private') %>
