<section id="main">

    <div id="account_companysettings" class="accountform" ng-controller="CompaniesController">

        <h3><%= __('company.edittitle') %></h3>

        <form>

            <p>
                <label for="companyname"><%= __('company.name') %></label>
                <input type="text" id="companyname" ng-model="company.name" ng-required="true" />
                <em>This is used as application title</em>
            </p>

            <p>
                <label for="public_text"><%= __('company.public_text') %></label>
                <textarea id="public_text" ng-model="company.public_text"></textarea>
            </p>

            <p>
                <label for="private_text"><%= __('company.private_text') %></label>
                <textarea id="private_text" ng-model="company.private_text"></textarea>
            </p>

            <p>
                <label for="managerName"><%= __('company.managerName') %></label>
                <input type="text" id="managerName" ng-model="company.managerName" placeholder="{{session.user.firstname}} {{session.user.lastname}}" />
            </p>

            <p>
                <label for="managerEmail"><%= __('company.managerEmail') %></label>
                <input type="text" id="managerEmail" ng-model="company.managerEmail" placeholder="{{session.user.email}}" />
            </p>

            <p>
                <label><input type="checkbox" ng-model="company.workperiod_recover_request" /> <%= __('company.workperiod_recover_request') %></label>
                <em><%= __('company.workperiod_recover_desc') %></em>
            </p>

            <p>
                <label><input type="checkbox" ng-model="company.maintenance" /> <%= __('company.maintenance') %></label>

                <em><%= __('company.maintenanceDesc') %></em>
            </p>

            <p>
                <label><%= __('company.alert1') %>
                    <input type="number" step="1" min="0" max="100" ng-model="company.approb_alert" />
                    <%= __('company.alert2') %></label>
            </p>

            <p>
                <label>
                    <input type="checkbox" value="1" ng-model="company.loginservices.form.enable" />
                    <%= __('company.login_form') %></label>
            </p>



            <p>
                <label>
                    <input type="checkbox" value="1" ng-model="company.loginservices.google.enable" />
                    <%= __('company.login_google') %></label>
            </p>

            <div ng-if="company.loginservices.google.enable">
                <em><%= __('company.login_google_help') %>
                    <a href="https://developers.google.com/identity/sign-in/web/devconsole-project" target="_blank">Google Sign-In</a>
                </em>

                <p>
                    <label for="login_google_clientID"><%= __('company.login_google_clientID') %></label>
                    <input type="text" id="login_google_clientID" ng-model="company.loginservices.google.clientID" />
                </p>

                <p>
                    <label for="login_google_clientSecret"><%= __('company.login_google_clientSecret') %></label>
                    <input type="text" id="login_google_clientSecret" ng-model="company.loginservices.google.clientSecret" />
                </p>

                <p>
                    <label for="login_google_domain"><%= __('company.login_google_domain') %></label>
                    <input type="text" id="login_google_domain" ng-model="company.loginservices.google.domain" />
                </p>
            </div>



            <p>
                <label>
                    <input type="checkbox" value="1" ng-model="company.calendar.google.enable" />
                    <%= __('company.calendar_google') %></label>
            </p>

            <div ng-if="company.calendar.google.enable">
                <em><%= __('company.calendar_google_help') %>
                    <a href="https://developers.google.com/identity/sign-in/web/devconsole-project" target="_blank">Google API usage</a>
                </em>

                <p>
                    <label for="calendar_google_clientID"><%= __('company.calendar_google_clientID') %></label>
                    <input type="text" id="calendar_google_clientID" ng-model="company.calendar.google.clientID" />
                </p>

                <p>
                    <label for="calendar_google_clientSecret"><%= __('company.calendar_google_clientSecret') %></label>
                    <input type="text" id="calendar_google_clientSecret" ng-model="company.calendar.google.clientSecret" />
                </p>
            </div>

            <p class="button">
                <button type="submit" ng-click="updateCompany()"><i class="fa fa-save"></i> <%= __('company.editbutton') %></button>
            </p>
        </form>

    </div>
</section>

<%- partial('common/private') %>
