<section id="main">
    <%- partial('common/article', {post: page, index: true}) %>

</section>


<aside id="sidebar" bs-affix>
    <% var homeurl = getDocUrl('')
    if (null !== homeurl) { %>
    <div class="doc-nav">
        <p class="doc-home">
            <a href="<%= homeurl %>"><i class="fa fa-home"></i> <%= __('doc.homelink') %></a>
        </p>

        <div class="toc" bs-scrollspy-list>
            <%- toc(page.content, { class: 'nav', list_number: false }) %>
        </div>
    </div>
    <% } %>

    <div class="version">
        <label for="doc_version"><%= __('doc.version') %></label>

        <select id="doc_version" onchange="document.location.href=this.value">
            <% var versions = getDocPageVersions();
            for (var i=0; i<versions.length; i++) { %>
            <option value="<%= versions[i].url %>"><%= versions[i].label %></option>
            <% } %>
        </select>

    </div>
</aside>
