<section id="main">

    <article id="docindex" class="article">

        <div class="article-inner">

            <header class="article-header">
                <h1 class="article-title"><%= page.title %></h1>
            </header>

            <div class="article-entry">

                <%
                var subpages = getSubPages(page);
                for (var i=0; i<subpages.length; i++) {
                    var doc = subpages[i];
                %>
                    <div class="docbloc">
                        <a class="doctitle" href="<%= doc.permalink %>"><%= doc.title %></a>
                        <div class="excerpt"><%- doc.excerpt %></div>
                    </div>
                <% } %>
            </div>
        </div>
    </article>
</section>


<aside id="sidebar" bs-affix>

    <div class="version">
        <label for="doc_version"><%= __('doc.version') %></label>

        <select id="doc_version" onchange="document.location.href=this.value">
            <% var versions = getDocPageVersions();
            for (var i=0; i<versions.length; i++) { %>
            <option value="<%= versions[i].url %>"><%= versions[i].label %></option>
            <% } %>
        </select>

    </div>
</aside>
