<section id="homepage">
    <div class="top-info">
        <div class="content">
            <h2>Gadael</h2>
            <p><%= __('home.subtitle') %></p>
        </div>
    </div>

    <div class="catch-your-eye">

        <form class="left logged-out" method="GET" action="./signup" ng-if="!session.isLoggedIn">

            <%- partial('common/dbname', attributes='required="required"') %>
            <button type="submit"><i class="fa fa-magic"></i> <%= __('home.registerbutton') %></button>
        </form>

        <div class="left logged-in" ng-if="session.isLoggedIn">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-user fa-stack-1x"></i>
            </span> {{session.user.firstname}} {{session.user.lastname}}
        </div>

        <div class="right">
            <a ng-if="!session.isLoggedIn" class="login-button" href="private">
                <i class="fa fa-key"></i> <%= __('home.login') %>
            </a>

            <a ng-if="session.isLoggedIn" class="customer-button" href="private">
                <i class="fa fa-gear"></i> <%= __('home.privatespace') %>
            </a>
        </div>

        <div style="clear:both"></div>
    </div>

    <div class="product-description">
        <i class="fa fa-comment fa-3x fa-pull-left"></i> <%= __('home.description') %><br />

    </div>

    <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "pageDots": false }'>
        <div class="carousel-cell">
            <img class="carousel-cell-image" alt="Account home screenshot"
                src="<%= url_for_lang('docs/version-master/images/account-home.png') %>" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image" alt="Create absence screenshot"
                src="<%= url_for_lang('docs/version-master/images/account-absence-create.png') %>" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image" alt="View annal leave right screenshot"
                src="<%= url_for_lang('docs/version-master/images/right-view-annual-leave.png') %>" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image" alt="Exports menu screenshot"
                src="<%= url_for_lang('docs/version-master/images/exports.png') %>" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image" alt="Waiting request view from the manager screenshot"
                src="<%= url_for_lang('docs/version-master/images/manager-waiting-requests.png') %>" />
        </div>
    </div>

    <link rel="stylesheet" href="/bower_components/flickity/dist/flickity.min.css" media="screen">
    <%- js('/bower_components/flickity/dist/flickity.pkgd.min.js') %>

    <div class="product-advantages">
        <i class="fa fa-quote-left fa-2x"></i> &nbsp; <%= __('home.advantages') %> &nbsp; <i class="fa fa-quote-right"></i>
    </div>

    <div class="functionalities">
        <div>
            <div class="international">
                <i class="fa fa-globe fa-4x"></i>
                <h3><%= __('home.international.title') %></h3>
                <p><%= __('home.international.description') %></p>
            </div>
        </div>

        <div>
            <div class="mobile">
                <i class="fa fa-mobile fa-4x"></i>
                <h3>Mobile ready</h3>
                <p>Tous les interfaces sont concus en utilisant les règles du
                    <a href="https://fr.wikipedia.org/wiki/Site_web_adaptatif">responsible design</a></p>
            </div>
        </div>

        <div>
            <div class="google">
                <i class="fa fa-google fa-4x"></i>
                <h3>Use your google calendar</h3>
                <p>Gadael utilise les API google pour renseigner automatiquement les périodes d'absences sur l'agenda</p>
            </div>
        </div>

        <div>
            <div class="plan">
                <i class="fa fa-tasks fa-4x"></i>
                <h3>Planification avancée</h3>
                <p>Les changements de régime de congés et de rythme de travail peuvent être planifiés à l'avance</p>
            </div>
        </div>

        <div>
            <div class="open">
                <i class="fa fa-github fa-4x"></i>
                <h3>Open source</h3>
                <p>Développement ouvert sur <a href="https://github.com/gadael">github</a></p>
            </div>
        </div>

        <div>
            <div class="data">
                <i class="fa fa-database fa-4x"></i>
                <h3>You own your data</h3>
                <p>A copy of your database can be downloaded from ou server at every moment, you can reboot your service elswere</p>
            </div>
        </div>
    </div>

    <div class="bottom-info">

    </div>

    <div class="home-footer">
        <a href="https://github.com/gadael/gadael"><i class="fa fa-github"></i> <%= __('home.github') %></a>
        <a href="https://github.com/gadael/gadael/issues"><i class="fa fa-bug"></i> <%= __('home.issues') %></a>
    </div>
</section>
