<section id="homepage">
    <div class="top-info">
        <div class="content">
            <h2>Gadael</h2>
            <p><%= __('home.subtitle') %></p>
        </div>
    </div>

    <div class="catch-your-eye">

        <form class="left logged-out" method="GET" action="./signup" ng-if="!session.isLoggedIn">

            <%- partial('common/dbname', attributes='required="required"') %>
            <button type="submit"><i class="fa fa-magic"></i> <%= __('account.registerbutton') %></button>
        </form>

        <div class="left logged-in" ng-if="session.isLoggedIn">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-user fa-stack-1x"></i>
            </span> {{session.user.firstname}} {{session.user.lastname}}
        </div>

        <div class="right">
            <a ng-if="!session.isLoggedIn" class="login-button" href="<%= url_for_lang('private') %>">
                <i class="fa fa-key"></i> <%= __('home.login') %>
            </a>

            <a ng-if="session.isLoggedIn" class="customer-button" href="<%= url_for_lang('private') %>">
                <i class="fa fa-gear"></i> <%= __('account.privatespace') %>
            </a>
        </div>

        <div style="clear:both"></div>
    </div>

    <div class="product-description">
        <i class="fa fa-comment fa-3x fa-pull-left"></i> <%= __('home.description') %><br />

    </div>

    <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "pageDots": false }'>
        <div class="carousel-cell">
            <img class="carousel-cell-image" alt="Account home screenshot"
                src="<%= url_for_lang('docs/version-master/images/account-home.png') %>" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image" alt="Create absence screenshot"
                src="<%= url_for_lang('docs/version-master/images/account-absence-create.png') %>" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image" alt="View annal leave right screenshot"
                src="<%= url_for_lang('docs/version-master/images/right-view-annual-leave.png') %>" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image" alt="Exports menu screenshot"
                src="<%= url_for_lang('docs/version-master/images/exports.png') %>" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image" alt="Waiting request view from the manager screenshot"
                src="<%= url_for_lang('docs/version-master/images/manager-waiting-requests.png') %>" />
        </div>
    </div>

    <link rel="stylesheet" href="/bower_components/flickity/dist/flickity.min.css" media="screen">
    <%- js('/bower_components/flickity/dist/flickity.pkgd.min.js') %>

    <div class="product-advantages">
        <i class="fa fa-quote-left fa-2x"></i> &nbsp; <%= __('home.advantages') %> &nbsp; <i class="fa fa-quote-right"></i>
    </div>

    <div class="functionalities">

        <% for(var i=0; i<theme.home.icons.length; i++) { %>

        <div>
            <div>
                <i class="fa fa-<%= theme.home.icons[i] %> fa-4x"></i>
                <h3><%= __('home.icons.'+theme.home.icons[i]+'.title') %></h3>
                <p><%- __('home.icons.'+theme.home.icons[i]+'.html') %></p>
            </div>
        </div>

        <% } %>
    </div>

    <div class="bottom-info">


        <div class="freeplan">
            <p><i class="fa fa-thumbs-up"></i><br /><a href="<%= url_for_lang('pricing') %>">Free up to 5 users</a></p>
            <div class="paidplan"><a href="<%= url_for_lang('pricing') %>">And 5&euro;/month for 10 users</a></div>
        </div>


        <div class="logos">
            <a href="https://opensource.org/" title="OSI"><img src="/css/images/osi.png" alt="Open source Logo" /></a>
            <a href="https://nodejs.org/" title="Node.js"><img src="/css/images/nodejs.png" alt="Nodejs logo" /></a>
            <a href="https://www.mongodb.com/" title="MongoDB"><img src="/css/images/MongoDB.png" alt="MongoDB logo" /></a>
        </div>
    </div>

    <div class="home-footer">

        <% for(var i in theme.customize.social_links) { %>
        <a href="<%- url_for(theme.customize.social_links[i]) %>" target="_blank">
            <i title="<%= __('social.'+i) %>" class="fa fa-<%= i %>"></i> <span><%= __('social.'+i) %></span>
        </a>
        <% } %>
    </div>
</section>
