<section id="homepage">
    <div class="top-info">
        <div class="content">
            <h2>Gadael</h2>
            <p><%= __('home.subtitle') %></p>
        </div>
    </div>

    <div class="catch-your-eye">

        <form class="left" action="./signup">

            <%- partial('common/dbname', attributes='required="required"') %>
            <button type="submit"><i class="fa fa-magic"></i> <%= __('create.button') %></button>
        </form>

        <div class="right">
            <a class="customer-button" href="private">
                <i class="fa fa-key"></i> <%= __('home.customerbutton') %>
            </a>
        </div>
    </div>

    <div class="functionalities">
        <div>
            <div class="international">
                <i class="fa fa-globe fa-4x"></i>
                <h3>International leave management</h3>
                <p>Un même logiciel peut être utilisé dans plusieurs pays avec des droits de congés différents.</p>
            </div>
        </div>

        <div>
            <div class="mobile">
                <i class="fa fa-mobile fa-4x"></i>
                <h3>Mobile ready</h3>
                <p>Tous les interfaces sont concus en utilisant les règles du
                    <a href="https://fr.wikipedia.org/wiki/Site_web_adaptatif">responsible design</a></p>
            </div>
        </div>

        <div>
            <div class="google">
                <i class="fa fa-google fa-4x"></i>
                <h3>Use your google calendar</h3>
                <p>Gadael utilise les API google pour renseigner automatiquement les périodes d'absences sur l'agenda</p>
            </div>
        </div>

        <div>
            <div class="plan">
                <i class="fa fa-tasks fa-4x"></i>
                <h3>Planification avancée</h3>
                <p>Les changements de régime de congés et de rythme de travail peuvent être planifiés à l'avance</p>
            </div>
        </div>

        <div>
            <div class="open">
                <i class="fa fa-github fa-4x"></i>
                <h3>Open source</h3>
                <p>Développement ouvert sur <a href="https://github.com/gadael">github</a></p>
            </div>
        </div>

        <div>
            <div class="data">
                <i class="fa fa-database fa-4x"></i>
                <h3>You own your data</h3>
                <p>A copy of your database can be downloaded from ou server at every moment, you can reboot your service elswere</p>
            </div>
        </div>
    </div>

    <div class="bottom-info">

    </div>

    <div class="home-footer">
        <a href="https://github.com/gadael/gadael"><i class="fa fa-github"></i> <%= __('home.github') %></a>
        <a href="https://github.com/gadael/gadael/issues"><i class="fa fa-bug"></i> <%= __('home.issues') %></a>
    </div>
</section>
