<%- partial('common/head') %>
<body data-hexo-page>
    <div id="container" ng-controller="PageController" ng-class="pageLoad">
        <%- partial('common/header') %>

        <div class="outer">

            <div class="messages">
                <div class="message-info" ng-repeat="info in session.infos">
                    <i class="fa fa-info-circle"></i> {{info}}
                </div>

                <div class="message-error" ng-repeat="error in session.errors">
                    <i class="fa fa-warning"></i> {{error}}
                </div>
            </div>

            <%- body %>
        </div>
        <%- partial('common/footer') %>
        <%- partial('common/scripts') %>
    </div>


</body>
</html>
