<section id="main">
    <div id="pricing">
        <div class="princing-inner">
            <h2>Pricing for application as service</h2>

            <table>
                <thead>
                    <tr>
                        <td></td>
                        <th class="free">Free plan</th>
                        <th class="paid">Paid plan</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="free">
                            <p>Always free</p>
                            <a ng-if="!session.isLoggedIn" href="<%= url_for_lang('signup') %>">Start now</a>
                            <a ng-if="session.isLoggedIn && !session.user.dbname" href="<%= url_for_lang('account/create-company') %>">Start now</a>
                            <em ng-if="session.isLoggedIn && session.user.plan=='free'">This is your current plan</em>
                        </td>
                        <td class="paid">
                            <p>5€/Month for 5 more users</p>
                            <a ng-if="!session.isLoggedIn" href="<%= url_for_lang('signup') %>">Subscribe</a>
                            <a ng-if="session.isLoggedIn && !session.user.dbname" href="<%= url_for_lang('account/create-company') %>">Subscribe</a>
                            <a ng-if="session.isLoggedIn && session.user.dbname && session.user.plan=='free'" href="<%= url_for_lang('account/plan') %>">Subscribe</a>
                            <em ng-if="session.isLoggedIn && session.user.dbname && session.user.plan=='paid'">This is your current plan</em>
                        </td>
                    </tr>
                </tfoot>

                <tbody>
                    <tr>
                        <th>Leave requests</th>
                        <td class="free">Available</td>
                        <td class="paid">Available</td>
                    </tr>
                    <tr>
                        <th>Time saving deposits accounts</th>
                        <td class="free">Available</td>
                        <td class="paid">Available</td>
                    </tr>
                    <tr>
                        <th>Workperiod recovery</th>
                        <td class="free">Available</td>
                        <td class="paid">Available</td>
                    </tr>
                    <tr>
                        <th>Links with google accounts</th>
                        <td class="free">Available</td>
                        <td class="paid">Available</td>
                    </tr>
                    <tr>
                        <th>Export to excel spreadsheets</th>
                        <td class="free">Available</td>
                        <td class="paid">Available</td>
                    </tr>
                    <tr>
                        <th>Maximum number of active users</th>
                        <td class="free">5</td>
                        <td class="paid">Unlimited</td>
                    </tr>
                    <tr>
                        <th>Inactivity timout</th>
                        <td class="free">60 days</td>
                        <td class="paid">Unlimited</td>
                    </tr>
                    <tr>
                        <th>Technical support</th>
                        <td class="free">By github issues</td>
                        <td class="paid">Guaranteed 24H response delay</td>
                    </tr>
                </tbody>
            </table>


            <h2>Custom enquiries</h2>

            <p>You can request a custom quotation for your specific need with this form:</p>

        </div>
    </div>
</section>

<%- partial('common/create', null, {cache: !config.relative_link}) %>
