<section id="main">
    <div id="pricing">
        <div class="princing-inner">
            <h2><%= __('pricingpage.title') %></h2>

            <div class="cloud"><i class="fa fa-4x fa-cloud"></i></div>

            <p class="intro"><%= __('pricingpage.intro') %></p>

            <table>
                <thead>
                    <tr>
                        <td></td>
                        <th class="free"><%= __('pricingpage.head.free') %></th>
                        <th class="paid"><%= __('pricingpage.head.paid') %></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="free">
                            <p><%= __('pricingpage.foot.free.title') %></p>
                            <a ng-if="!session.isLoggedIn" href="<%= url_for_lang('signup') %>"><%= __('pricingpage.foot.free.start') %></a>
                            <a ng-if="session.isLoggedIn && !session.user.dbname" href="<%= url_for_lang('account/create-company') %>"><%= __('pricingpage.foot.free.start') %></a>
                            <em ng-if="session.isLoggedIn && session.user.plan=='free'"><%= __('pricingpage.foot.free.current') %></em>
                        </td>
                        <td class="paid">
                            <p><%= __('pricingpage.foot.paid.title') %></p>
                            <a ng-if="!session.isLoggedIn" href="<%= url_for_lang('signup') %>"><%= __('pricingpage.foot.paid.signup') %></a>
                            <a ng-if="session.isLoggedIn && !session.user.dbname" href="<%= url_for_lang('account/create-company') %>"><%= __('pricingpage.foot.paid.signup') %></a>
                            <a ng-if="session.isLoggedIn && session.user.dbname && session.user.plan=='free'" href="<%= url_for_lang('account/plan') %>"><%= __('pricingpage.foot.paid.signup') %></a>
                            <em ng-if="session.isLoggedIn && session.user.dbname && session.user.plan=='paid'"><%= __('pricingpage.foot.paid.current') %></em>
                        </td>
                    </tr>
                </tfoot>

                <tbody>
                    <tr>
                        <th><%= __('pricingpage.body.requests') %></th>
                        <td class="free"><%= __('pricingpage.body.available') %></td>
                        <td class="paid"><%= __('pricingpage.body.available') %></td>
                    </tr>
                    <tr>
                        <th><%= __('pricingpage.body.timesaving') %></th>
                        <td class="free"><%= __('pricingpage.body.available') %></td>
                        <td class="paid"><%= __('pricingpage.body.available') %></td>
                    </tr>
                    <tr>
                        <th><%= __('pricingpage.body.recovery') %></th>
                        <td class="free"><%= __('pricingpage.body.available') %></td>
                        <td class="paid"><%= __('pricingpage.body.available') %></td>
                    </tr>
                    <tr>
                        <th><%= __('pricingpage.body.google') %></th>
                        <td class="free"><%= __('pricingpage.body.available') %></td>
                        <td class="paid"><%= __('pricingpage.body.available') %></td>
                    </tr>
                    <tr>
                        <th><%= __('pricingpage.body.export') %></th>
                        <td class="free"><%= __('pricingpage.body.available') %></td>
                        <td class="paid"><%= __('pricingpage.body.available') %></td>
                    </tr>
                    <tr>
                        <th><%= __('pricingpage.body.users') %></th>
                        <td class="free">5</td>
                        <td class="paid">1000<br />
                            <div class="small"><%= __('pricingpage.body.more') %></div>
                        </td>
                    </tr>
                    <tr>
                        <th><%= __('pricingpage.body.inactivity') %></th>
                        <td class="free">60 <%= __('pricingpage.body.days') %><br />
                        <div class="small"><%= __('pricingpage.body.days_description') %></div></td>
                        <td class="paid"><%= __('pricingpage.body.unlimited') %></td>
                    </tr>
                    <tr>
                        <th><%= __('pricingpage.body.support') %></th>
                        <td class="free"><%= __('pricingpage.body.github') %></td>
                        <td class="paid"><%= __('pricingpage.body.response') %></td>
                    </tr>
                </tbody>
            </table>


            <h2><%= __('pricingpage.enquiries') %></h2>

            <div class="content">
                <p><%= __('pricingpage.enquiriesdetails1') %>
                <a href="mailto:support@gadael.com">support@gadael.com</a> <%= __('pricingpage.enquiriesdetails2') %>
                </p>
            </div>
        </div>
    </div>
</section>

<%- partial('common/create') %>
<%- partial('common/demo') %>
