<section id="main" class="accountform">

    <h2><%= __('signin.title') %></h2>

    <form method="POST" action="../local-signin">
        <p>
            <label for="email"><%= __('signin.email') %></label>
            <input type="text" id="email" name="email" value="" />
        </p>

        <p>
            <label for="password"><%= __('signin.password') %></label>
            <input type="password" id="password" name="password" value="" />
        </p>

        <p><button type="submit"><i class="fa fa-key"></i> <%= __('signin.button') %></button></p>

        <p><%= __('signin.noaccount') %> <a href="../signup"><%= __('signin.link') %></a> <%= __('signin.afterlink') %></p>
    </form>

</section>


<%- partial('common/loginservices') %>
