<section id="main">

    <div id="signup" class="accountform">

        <h2><%= __('signup.title') %></h2>

        <form method="POST" action="../local-signup">

            <div>
                <label for="dbname"><%= __('signup.site') %></label>
                <%- partial('common/dbname', attributes='required="required"') %>

            </div>

            <p>
                <label for="lastname"><%= __('signup.lastname') %></label>
                <input type="text" id="lastname" name="lastname" required="required" value="" />
            </p>

            <p>
                <label for="firstname"><%= __('signup.firstname') %></label>
                <input type="text" id="firstname" name="firstname" value="" />
            </p>

            <p>
                <label for="email"><%= __('signup.email') %></label>
                <input type="text" id="email" name="email" required="required" value="" />
            </p>

            <p>
                <label for="password"><%= __('signup.password') %></label>
                <input type="password" id="password" name="password" required="required" value="" />
            </p>


            <p>
                <label>
                    <input type="checkbox" name="legal" required="required" value="1" />&nbsp;
                    <% var terms='<a target="_blank" href="'+url_for_lang('legal/terms-of-service.html')+'">'+__('signup.terms')+'</a>' %>
                    <% var privacy='<a target="_blank" href="'+url_for_lang('legal/privacy-policy.html')+'">'+__('signup.privacy')+'</a>' %>

                    <%- __('signup.legal', terms, privacy) %>
                </label>

            </p>

            <p><button type="submit"><i class="fa fa-bolt"></i> <%= __('signup.button') %></button></p>

        </form>
    </div>
</section>

<%- partial('common/loginservices') %>
