<section id="main" class="accountform">

    <h2><%= __('signup.title') %></h2>

    <form method="POST" action="../local-signup">
        <p>
            <label for="company"><%= __('signup.site') %></label>
            <input type="text" id="company" name="company" value="" /><strong>.gadael.com</strong>
        </p>

        <p>
            <label for="email"><%= __('signup.email') %></label>
            <input type="text" id="email" name="email" value="" />
        </p>

        <p>
            <label for="password"><%= __('signup.password') %></label>
            <input type="password" id="password" name="password" value="" />
        </p>

        <p><button type="submit"><i class="fa fa-bolt"></i> <%= __('signup.button') %></button></p>

    </form>


</section>

<%- partial('common/loginservices') %>
